html {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    --bgColorMenu: #1d1d27;
    --duration: 0.7s;
}
  
html *,
html *::before,
html *::after {
    box-sizing: inherit;
}
  
body {
    font-family: "open sans", sans-serif;
    margin: 0;
    
    background-color: #0c0c0c;
}

body::-webkit-scrollbar {
    display: none;
    width: 10px;
}
body::-webkit-scrollbar-button {
    display: none;
}
body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: red;
}

.content > * {
    display: none;
}
.content > .active {
    display: block;
}

.header {
   position: fixed;
   bottom: 0;
   width: 100%;
}
  
.menu {
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
}
  
.menu__item {
    outline: none;
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut, var(--duration));
}
  
.menu__item::before {
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
}
  
.menu__item.active {
    transform: translate3d(0, -0.8em, 0);
}
  
.menu__item.active::before {
    transform: scale(1);
    background-color: var(--bgColorItem);
}
  
.icon {
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}
  
.menu__item.active .icon {
    animation: strok 1.5s reverse;
}
  
@keyframes strok {
    100% {
      stroke-dashoffset: 400;
    }
}
  
.menu__border {
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));
}
  
.svg-container {
    width: 0;
    height: 0;
}
  
.content {
    min-height: 105vh;
    color: #74ee15;
    padding: 40px;
}

.about .about__descrip {
    font-size: 24px;
    text-align: justify;
    font-style: italic;
    color: whitesmoke;
}

.about .about__title::before {
    content: '<';
    display: inline-block;
}

.about .about__title::after {
    content: '>';
    display: inline-block;
}

.content .myProjects {
    padding: 0;
    list-style-type: none;
}

.myProject {
    border: solid #f000ff 2px;
    padding: 20px;
    margin-bottom: 20px;
}

.myProject .myProject__title {
    font-family: inconsolata, monospace;
    font-size: 20px;
    padding-bottom: 10px;
    color: whitesmoke;
}
.myProject .myProject__descrip {
    font-size: 17px;
    color: whitesmoke;
    text-align: justify;
}

.myProject .myProject__link {
    display: block;
    margin-top: 20px;

    font-size: 17px;
    color: #f000ff;
    text-decoration: none;
    transition: color 1s;
    text-transform: uppercase;
}

.myProject .myProject__link:hover {
    transition: color 1s;
    color: #c22085;
}

.content .myProjects .myProjects__title::before {
    content: '<';
    display: inline-block;
}

.content .myProjects .myProjects__title::after {
    content: '>';
    display: inline-block;
}

.contacts .contacts__mail {
    font-size: 24px;
    text-align: justify;
    font-style: italic;
    color: whitesmoke;
}

.contacts .contacts__mail span {
    text-decoration: underline;
}

.content .contacts .contacts__title::before {
    content: '<';
    display: inline-block;
}

.content .contacts .contacts__title::after {
    content: '>';
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .menu {
        font-size: 0.8em;
    }

    .myProject .myProject__title {
        font-size: 17px;
    }

    .myProject .myProject__descrip {
        font-size: 14px;
    }

    .myProject .myProject__link {
        font-size: 14px;
    }
}
